/**
 * Base CSS File (global.css)
 * Created: Fri 10 Jun 2011 03:40:33 PM CEST
 *
 * This CSS file is part of a website developped by François-Xavier Thomas.
 * You are free to copy, adapt or modify it.
 * If you do so, however, leave my name somewhere in the credits, I'd appreciate it ;)
 * 
 * @author François-Xavier Thomas <fx.thomas@gmail.com>
 * @version 1.0
 */

* {
	font-family: "Arial", "Helvetica", sans-serif;
}

html, body {
  background-color: black;
  color: #eee;
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
  padding: 50px 0px;
  margin: 0;
}

#logo {
  margin: 0 auto;
  padding: 10px;
  display: block;
  height: 150px;
}

#padded_content {
  display: table;
  margin: 20px auto;
  width: 1000px;
}

.series {
  background-color: #444;
  border-radius: 5px;
  display: table-row;
  width: 100%;
}

.series:hover {
  background-color: #3a3a3a;
}

.series > * {
  display: table-cell;
  vertical-align: top;

  padding: 10px;
}

.picture > img {
  margin-top: 4px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: block;
}

.picture > .download:hover {
  background-color: black;
  color: #0a0;
}

.series-picture {
  margin-bottom: 15px;
}

.episode-picture img {
  width: 260px;
}

.episode-picture {
  padding: 0 10px 10px 0;
  display: table-cell;
  vertical-align: top;
}

.series-picture img {
  width: 220px;
}

.picture > .download {
  text-decoration: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: black;
  display: block;
  padding: 10px;
  text-align: center;
}

.infobar {
  font-size: 1.4em;
  font-family: serif;
  margin: 0;
  margin-bottom: 15px;
  text-shadow: #000 2px 2px 10px;
}

.infobar * {
  font-family: serif;
  margin: 2px;
  padding: 8px;
  display: inline-block;
}

.infobar > .title:before { content: "« "; }
.infobar > .title:after { content: " »"; }

.series-picture > .showtitle {
  background-color: #333;
  text-decoration: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: black;
  display: block;
  text-align: center;
  padding: 10px;
}

.infobar > .season {
  background-color: #333;
  color: #f44;
}

.infobar > .episode {
  background-color: #333;
  color: #f40;
}

.series > .text > .text-wrapper {
  display: table-row;
  width: 100%;
}

.series > .text > .text-wrapper > .series-info {
  display: table-cell;
  width: 180px;
  padding: 10px;
  background-color: #333;
}

.series > .text > .text-wrapper > .episodes {
  display: table-cell;
  vertical-align: top;
  width: 100%;
  padding: 10px;
}

.episodes > .episode {
  display: table-row;
}

.episodes > .episode > .info {
  display: table-cell;
  vertical-align: top;
}

.episode > .info > .description {
  margin-bottom: 15px;
}

.series > .text > .text-wrapper > .series-info { color: #ccc; }

.ajaxlink {
  text-decoration: none;
  color: #50a;
}

.ajaxlink:hover {
  color: #0a0;
  cursor: pointer;
}

#reload-outer {
  background-color: #111;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: right;
}

#ajax-loader {
  display: none;
  background: url('../images/ajax-loader.gif') no-repeat;
  width: 128px;
  height: 15px;
}

.ajax-outer {
  display: inline-block;
  width: 128px;
  height: 15px;
  vertical-align: top;
  padding: 0 10px;
}

.clear {
  clear: both;
}
